project:
  type: website
  output-dir: _site

website:
  title: "William Scott Peterson Jr."
  favicon: images/favicon.svg
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - text: Projects
        menu:
          - href: projects/project-1.qmd
            text: Keep Up - Relationship Tracker
      - href: problems.qmd
        text: Problems I'm Exploring

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    include-in-header:
      - text: |
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
